################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PortfolioProject/FileContentIndex/077ac8e5-5164-4020-a343-2b9c42d83a77.vsidx
/.vs/PortfolioProject/FileContentIndex/4dd7fb0d-e64a-463b-a911-42a933ee877f.vsidx
/.vs/PortfolioProject/FileContentIndex/50699b04-ce18-44c4-b66f-2cbd7bee88f5.vsidx
/.vs/PortfolioProject/FileContentIndex/75b68e3e-2a8c-4bb5-ae17-b1d622a5f1a6.vsidx
/.vs/PortfolioProject/FileContentIndex/be04f6df-2448-4a96-9de7-dd610ecc87f4.vsidx
