@using EntityLayer.Concrete
@model SocialMedia
@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center">Sosyal Medya Ekleme Sayfası</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="Name">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">URL</label>
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="Url">
                </div>

                <div class="form-group">
                    <label for="exampleInputName1">İkon</label>
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="Icon">
                </div>
                
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>

            </form>
        </div>
    </div>
</div>
