@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btnGetListAll" class="btn btn-outline-primary">Verileri Getir</button>
        <button type="button" id="btnAdd" class="btn btn-outline-info">Veri Ekle</button>
        <button type="button" id="btnGetById" class="btn btn-outline-warning">Id'ye göre getir</button>
        <button type="button" id="btnDelete" class="btn btn-outline-danger">Sil</button>
        <button type="button" id="btnUpdate" class="btn btn-outline-success">Güncelle</button>
    </div>
</div>



<div class="p-2" id="listExperience" style="display: none;">

</div>


<div class="p-2" id="singleExperience" style="">

</div>
<br/>

 @* hiç bir property'miz null geçilebilir değil bu sebeple hepsine girdi yapalımki database veri olarak kabul etsin.  *@
<div class="col-md-12" style="display: none;" id="addExperienceForm">

    <h4>Ekleme Paneli</h4>
    <input type="text" class="form-control" id="inpName" placeholder="Başlık" />
    <br />
    <input type="text" class="form-control" id="inpDate" placeholder="Tarih" />
    <br />
    <input type="text" class="form-control" id="inpImageUrl" placeholder="Görsel Yolu" />
    <br />
    <input type="text" class="form-control" id="inpDescription" placeholder="Açıklama" />
    <br/>
    <button type="button" id="btnSaveExperience" class="btn btn-success">Kaydet</button>
    <br/>
</div>

<div class="col-md-12" style="display:none;" id="updateExperienceForm">

    <h4>Güncelleme Paneli</h4>
    <input type="text" class="form-control" id="updateId" placeholder="Id" />
    <br />
    <input type="text" class="form-control" id="updateName" placeholder="Başlık" />
    <br />
    <input type="text" class="form-control" id="updateDate" placeholder="Tarih" />
    <br />
    <input type="text" class="form-control" id="updateImageUrl" placeholder="Görsel Yolu" />
    <br />
    <input type="text" class="form-control" id="updateDescription" placeholder="Açıklama" />
    <br />
    <button type="button" id="btnUpdateExperience" class="btn btn-success">Güncelle</button>
    <br />
</div>

<div class="col-md-12" style="display: none;" id ="getIdForm">
    
    <h4>Id'ye göre getirme paneli</h4>
    <input type="text" class="form-control col-6" id="inpId" placeholder="Id" />
    <br/>
    <button type="button" id="btnIdExperience" class="btn btn-success">Getir</button>
</div>

<div class="col-md-12" style="display: none;" id="getIdDelete">
    <br />
    <h4>Id'yi Gir Ve Sil</h4>
    <input type="text" class="form-control col-6" id="inpExpId" placeholder="Id" />
    <br />
    <button type="button" id="btnSil" class="btn btn-success">Sil</button>
</div>



<script>
    
    //butona seslendik ve click olduğunda bir fonksiyon çalışmasını sağladık.
    $("#btnGetListAll").click(function () {
        //fonksiyonun tanımlaması yapıldı.
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Experience2/ListExperience/",

            //fonksiyon başarılı bir şekilde çalışırsa aşağıdaki işlem gerçekleşir.
            success: function (funk) {
                let values = jQuery.parseJSON(funk);
                console.log(values);

                //tablo baş kısmını oluşturduk ve tablonun bitişini yapmadım farkedersen;
                let htmlst = "<table class=table table-bordered id=listExperience style=display: none;> <tr> <th> # </th>  <th> Başlık </th>  <th> Tarih</tr>";

                //tablonun gövdesini doldurmayı bu şekilde sağladık.
                //values dizisindeki her bir öğe için belirtilen işlemi gerçekleştirir yani values dizisinde kaç tane eleman varsa o kadar tr açıyoruz.
                $.each(values, (index, value) => {
                    htmlst += `<tr> <td class="expId">${value.ExperienceId}</td> <td class="expName">${value.Name}</td> <td class="expDate">${value.Date}</td></tr>`
                });

                //tablonun kapanışını verdik.
                htmlst += "</table>";

                //ilgili div elementine bu htmlst değişkeninin html formatında bastırılmasını sağladık.
                $("#listExperience").html(htmlst);

            }
        });
    });
    // btnAdd'e her click yapıldığında addExperienceForm açılıp kapanacak.

    $("#btnAdd").click(function () {
        $("#addExperienceForm").toggle(); // Formun görünürlüğünü değiştir (gizle/göster).[inputların display'i style'ı inline olarak verildi.]
    });

    $("#btnGetListAll").click(function () {
        $("#listExperience").toggle(); // Tablonun görünürlüğünü değiştir (gizle/göster).[tabloların display style'ı inline olarak verildi.]
    });


    $("#btnUpdate").click(function () {
        $("#updateExperienceForm").toggle();
    });

    $("#btnSaveExperience").click(function () {
        let values = {
            Name: $("#inpName").val(),
            Date: $("#inpDate").val(),
            ImageUrl: $("#inpImageUrl").val(),
            Description: $("#inpDescription").val()
            
            
            
            
        }

        $.ajax({
            type: "POST",
            url: "/Experience2/AddExperience/",
            data: values,
           
            success: function (funk1) {
                let result = jQuery.parseJSON(funk1);
                alert(" Başarılı bir şekilde eklendi")
                $("#inpName").val('');
                $("#inpDate").val('');
                $("#inpImageUrl").val('');
                $("#inpDescription").val('');
            }
          

        });
    });

    $("#btnGetById").click(function () {
        $("#getIdForm").toggle();
    })
    
    $("#btnUpdateExperience").click(function () {
        let experience = {
            ExperienceId: $("#updateId").val(),
            Name: $("#updateName").val(),
            Date: $("#updateDate").val(),
            ImageUrl: $("#updateImageUrl").val(),
            Description: $("#updateDescription").val()



        };

        $.ajax({
         
            type: "POST",
            url: "/Experience2/UpdateExperience/",
            data: experience,
            dataType:"json",
            success: function (funk) {
            
                alert("Güncelleme Başarılı!");
            }
        })

    })
   
    $("#btnIdExperience").click(function() {
        let id = $("#inpId").val();

        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Experience2/GetById/",
            data: {ExperienceId: id},

            success: function(funk2) {
                let result = jQuery.parseJSON(funk2);
                console.log(result);

                let htmlstr = `<table  id=singleExp class=table table-hover > <tr> <th>#</th> <td>${result.ExperienceId}</td> </tr> <tr> <th>Deneyim Başlığı</th> <td>${result.Name}</td> </tr> <tr> <th>Tarih</th> <td>${result.Date}</td> </tr>`;
                $("#singleExperience").html(htmlstr);
                

            }
        })
        console.log(id);

        $("#btnGetById").click(function () {
            $("#singleExp").empty();
            $("#inpId").val('');
            $("#singleExp").toggle();
           

        })
    })
    $("#btnDelete").click(function () {
      
        $("#getIdDelete").toggle();
        $("#inpExpId").val('');
    })

    $("#btnSil").click(function () {
        let id = $("#inpExpId").val();

        $.ajax({
            url: "/Experience2/DeleteExperience/" + id,
            type:"POST",
            contentType:"application/json",
            dataType:"json",
            
            success: function (funk3) {
              
                alert(" Başarılı bir şekilde silindi!")
                loadData();

            }

        })
    })

   
</script>
